# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
ClientApp/node_modules/

# production
Server/target/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

ClientApp/npm-debug.log*
ClientApp/yarn-debug.log*
ClientApp/yarn-error.log*
Server/.idea/
Server/.mvn/
